<!-- ============================================================== -->
<!-- Start right Content here -->
<!-- ============================================================== -->

<div class="content-page">
    <!-- Start content -->
    <div class="content">
        <div class="container-fluid">
            <div class="page-title-box">
                <div class="row align-items-center">
                    <div class="col-sm-6">
                        <h4 class="page-title font-opensans font-bold">Payment History</h4>
                        <span class="font-opensans" style="color:#9f9f9f;">Viewing all seeds</span>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-xl-12">
                    <div class="card m-0">
                        <div class="card-body">
                            <h6 class="card-title">RECENT TRANSATIONS</h6>
                            <p class="card-text">2 Pending</p>
                        </div>
                    </div>
                    <div class="table-responsive bg-white">
                        <table class="table mb-0">
                            <thead>
                                <tr>
                                    <th>Transaction ID</th>
                                    <th>Date</th>
                                    <th>Amount</th>
                                    <th width="25%">Status</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>SBI12365478</td>
                                    <td>Nov 09, 2020</td>
                                    <td>$2000.00</td>
                                    <td>
                                        <button type="button" class="btn btn-green 
                                                btn-sm btn-rounded" 
                                                style="padding: 1px 13px;color: #014737;
                                                font-weight: bold;">
                                                <i class="fa fa-circle"></i>
                                            COMPLETED
                                        </button></td>
                                </tr>
                                <tr>
                                    <td>SBI12365478</td>
                                    <td>Nov 09, 2020</td>
                                    <td>$2000.00</td>
                                    <td>
                                      
                                        <button type="button" class="btn btn-danger 
                                                btn-sm btn-rounded" 
                                                style="padding: 1px 13px;color: #771d1d;
                                                font-weight: bold;">
                                                <i class="fa fa-circle"></i>
                                            PENDING
                                        </button>
                                    </td>
                                </tr>
                                  <tr>
                                    <td>SBI12365478</td>
                                    <td>Nov 09, 2020</td>
                                    <td>$2000.00</td>
                                    <td>
                                        <button type="button" class="btn btn-green 
                                                btn-sm btn-rounded" 
                                                style="padding: 1px 13px;color: #014737;
                                                font-weight: bold;">
                                                <i class="fa fa-circle"></i>
                                            COMPLETED
                                        </button></td>
                                </tr>
                            </tbody>


                        </table>
                    </div>  
                    <div class="card m-0">
                        <div class="card-body">
                            <p class="card-text">See All Transactions</p>
                        </div>
                    </div>  
                </div>


            </div>



        </div>
    </div>
</div>
<!-- ============================================================== -->
<!-- End Right content here -->
<!-- ============================================================== -->