<form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <div class="row">
        <div class="col-md-5 bg-primary hideleftpan">
           <div class="d-md-flex
         align-items-center h-100 p-4 text-center justify-content-center">
			<div class="logoarea pt-5 pb-5">
				 
				<h1 class="mb-0 mt-3 display-4"> 
                    <img src="./assets/images/logo.png"
                     class="img-fluid" width="100" />
                    </h1>
				<h6 class="mt-5  text-white font-16 weight-100 opacity8 ">
                  COZA GLOBAL PARTNER
                    <i class="fab fa-sass fa-2x text-cyan"></i>
                </h6>
            </div>
		</div>
        </div>
        <div class="col-md-7 bg-light">
            <div class="
         align-items-center h-100 pl-5 pr-5 pb-5 justify-content-center ">
            <h5 class="login-title pt-5 mb-0">Welcome,</h5>
                <h5 class="login-title mt-0 weight-bold pb-4" style="font-weight:bold;">Sign in As a Partner</h5>
            <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
              <div class="form-group">
                    <label for="email" class="font-500 font-12 text-primary">Email address</label>
                    <input type="text" class="form-control" placeholder="Enter Email" formControlName="email">
                </div>
                 <div class="form-group">
                    <label for="pwd" class="font-500 font-12 text-primary">Password</label>
                    <input type="password" class="form-control" placeholder="Enter password" formControlName="password">
                </div>
                <div class="text-danger text-center">
                    {{ErrText}}
                </div>
                <button type="submit" class="btn btn-primary loginbtn btn-block mt-2">Login</button>
                  <p class="text-primary text-center font-12 pt-4">
                     <a href="javascript:void(0)"   (click)="forgotpasswordDialog()" class="text-primary">
                        <span class="weight-bold">Forgot Password?</span>
                    </a>
                </p>
              
                <p class="text-primary text-center font-12">
                    <a href="/signup"   class="text-primary">
                    Don’t have an account? 
                    <span class="weight-bold">Sign Up</span>
                 </a>
                </p>
             
            </form>
        </div>
        </div>

    </div>
</form>

