<div class="left side-menu">
            <div class="slimscroll-menu" id="remove-scroll">

                <!--- Sidemenu -->
                <div id="sidebar-menu">
                    <!-- Left Menu Start -->
                    <ul class="metismenu" id="side-menu">
                       
                        <li>
                            <a routerLink="/dashboard" class="waves-effect mm-active rounded">
                                 <img src="assets/images/home.svg" class="" alt="" height="20">
                                 <span style="opacity: 0.5;"> Dashboard </span>
                            </a>
                        </li>
                        <li>
                            <a routerLink="/resources" class="waves-effect">
                                 <img src="assets/images/resources.svg" class="" alt="" height="20">
                                 <span style="opacity: 0.5;"> Resources </span>
                            </a>
                        </li>
                        <li>
                            <a routerLink="/makepayment" class="waves-effect">
                                 <img src="assets/images/make_payment.svg" class="" alt="" height="16">
                                 <span style="opacity: 0.5;"> Make Payment </span>
                            </a>
                        </li>
                        <li>
                            <a routerLink="/payment-history" class="waves-effect">
                                 <img src="assets/images/make_payment.svg" class="" alt="" height="16">
                                 <span style="opacity: 0.5;"> Payment History </span>
                            </a>
                        </li>
                        <li>
                            <a routerLink="/profile" class="waves-effect">
                                 <img src="assets/images/profile.svg" class="" alt="" height="20">
                                 <span style="opacity: 0.5;"> Profile </span>
                            </a>
                        </li>
                        <li>
                            <a href="/settings" class="waves-effect">
                                 <img src="assets/images/setting.svg" class="" alt="" height="20">
                                 <span style="opacity: 0.5;"> Settings </span>
                            </a>
                        </li>

                        

                    </ul>
                    <div class="position-relative">
                        <div class="float-left mb-0 mr-3 ml-4 ">
                            <img src="assets/images/profile1.png" alt="" class="rounded-circle thumb-md">
                        </div>
                        <div class="desc">
                            <h5 class="font-14 mb-1 pt-2 text-light" style="font-size:11px;">Chygoz Obike</h5>
                            <p class="text-muted" style="font-size:11px;">Obike.chygoz@gmail.com</p>
                        </div>
                    </div>
                </div>
                <!-- Sidebar -->
                <div class="clearfix"></div>

            </div>
            <!-- Sidebar -left -->

        </div>