<!-- ============================================================== -->
<!-- Start right Content here -->
<!-- ============================================================== -->

<div class="content-page">
    <!-- Start content -->
    <div class="content">
        <div class="container-fluid">
            <div class="page-title-box">
                <div class="row align-items-center">
                    <div class="col-sm-6">
                        <h4 class="page-title font-opensans font-bold">Profile</h4>
                        <span class="font-opensans" style="color:#9f9f9f;">
                            Your information is treated with utmost confidentiality.</span>
                    </div>
                </div>
            </div>
             <div class="row">
                <div class="col-xl-6 mb-5">
                    <div class="position-relative">
                        <div class="float-left mb-0 mr-3 ml-4 ">
                            <img src="assets/images/profile1.png" alt="" width="80"
                             class="rounded-circle">
                        </div>
                        <div class="desc">
                            <h5 class="font-14 mb-1 pt-3"
                             style="font-size:20px;color:#6f50a0">{{userData?.firstname}} {{userData?.lastname}}</h5>
                            <p class="text-muted" style="font-size:11px;">{{userData?.email}}</p>
                        </div>
                    </div>
                </div>
                 <div class="col-xl-6 pt-5">
                       <button type="button" class="btn btn-primary mr-3 small" 
                       style="background-color: #558a83;border: #558a83;">Change Password</button>
                 </div>
            </div>

            <div class="row">
                <div class="col-xl-10">
                    <div class="card">
                        <div class="card-body p-25">
                            <form class="font-opensans" [formGroup]="userForm" (ngSubmit)="onSubmit()">
                                <div class="form-row">
                                    <div class="form-group col-md-6">
                                        <label for="inputEmail4">First Name</label>
                                        <input type="text" class="form-control" 
                                        id="inputEmail4" placeholder="" formControlName="firstname">
                                    </div>
                                    <div class="form-group col-md-6">
                                        <label for="inputEmail4">Last Name</label>
                                        <input type="text" class="form-control" 
                                        id="inputEmail4" placeholder="" formControlName="lastname">
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="form-group col-md-12">
                                        <label for="inputEmail4">Address</label>
                                        <textarea class="form-control" 
                                        id="inputEmail4" placeholder="" formControlName="address"></textarea>
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="form-group col-md-12">
                                        <label for="inputEmail4">City</label>
                                        <input type="text" class="form-control" 
                                        id="inputEmail4" placeholder="" formControlName="city">
                                    </div>
                                </div>
                                 <div class="form-row">
                                    <div class="form-group col-md-12">
                                        <label for="inputEmail4">State</label>
                                        <input type="text" class="form-control" 
                                        id="inputEmail4" placeholder="" formControlName="state">
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="form-group col-md-12">
                                        <label for="inputEmail4">Postal Code</label>
                                        <input type="text" class="form-control" 
                                        id="inputEmail4" placeholder="" formControlName="postal_code">
                                    </div>
                                </div>
                                <div class="form-row float-right">
                                      <button type="submit" class="btn btn-primary mr-3 small" [disabled]="!userForm.valid">Save</button>
                                        <button type="button" class="btn btn-light">Cancel</button>
                                </div>
                               
                            </form>
                        </div>
                    </div>      
                </div>
                

            </div>

            
            
        </div>
    </div>
</div>
<!-- ============================================================== -->
<!-- End Right content here -->
<!-- ============================================================== -->