<!-- ============================================================== -->
<!-- Start right Content here -->
<!-- ============================================================== -->

<div class="content-page">
    <!-- Start content -->
    <div class="content">
        <div class="container-fluid">
            <div class="page-title-box">
                <div class="row align-items-center">
                    
                    <div class="col-sm-8">
                        <div class="button-items float-right">
                            <button type="button"
                                class="btn btn-primary waves-effect waves-light paddingbtn">Guzape</button>
                            <button type="button"
                                class="btn btn-default waves-effect waves-light paddingbtn">Gwarimpa</button>
                            <button type="button"
                                class="btn btn-default waves-effect waves-light paddingbtn">Dubai</button>
                            <button type="button"
                                class="btn btn-default waves-effect waves-light paddingbtn">Ilorin</button>
                        </div>
                    </div>
                </div>
                <!-- end row -->
            </div>
          
          

          
            <!-- end row -->
        </div>
        <!-- container-fluid -->

    </div>
</div>
<!-- ============================================================== -->
<!-- End Right content here -->
<!-- ============================================================== -->