<!-- ============================================================== -->
<!-- Start right Content here -->
<!-- ============================================================== -->

<div class="content-page">
    <!-- Start content -->
    <div class="content">
        <div class="container-fluid">
            <div class="page-title-box">
                <div class="row align-items-center">
                    <div class="col-sm-6 pl-4">

                        <h4 class="page-title font-opensans font-bold">Welcome to COZA partnership</h4>
                        <span class="font-opensans" style="color:#9f9f9f;">We Celebrate you!</span>
                    
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-xl-6 p-0">
                    <div class="col-xl-12">
                        <div class="card p-0">
                            <div class="card-body p-0">
                                 <img src="assets/images/dashboard1.png" class=""
                              alt="" style="width:100%;height: 213px;border-radius: 8px;">
                               <div class="carousel-caption">
                                    <div class="col-md-12">
                                        <button type="button" class=" btn-primary btn-sm float-left">Partner ID</button> 
                                        <button type="button" class="btn btn-link btn-sm float-right text-white font-italic">Click here to pay</button> 
                                    </div>
                                    <div class="clearfix"></div>
                                    <div class="col-xl-12" style="top: 22px;text-align: left;">
                                        <h3 class="font-opensans font-100">Hi, {{userData?.firstname}} {{userData?.lastname}}!</h3>
                                        <h3>{{userData?.user_code}}</h3>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-12">
                        <div class="card p-0">
                            <div class="card-body p-0">
                                 <img src="assets/images/dashboard2.png" class=""
                              alt="" style="width:100%;
    border-radius: 8px;">
                               
                            </div>
                        </div>
                    </div>
                </div>
                <!-- end col  pr-5 pl-1 -->

                <div class="col-xl-6">
                    <div class="card bg-primary">
                        <div class="card-body p-25 mob-card" style="padding-top: 64px;padding-bottom: 200px;">
                            <h6 class="card-subtitle text-white
                             font-opensans opacity5 small">Seed Commitment</h6>
                            <h5 class="card-title text-white 
                            font-opensans opacity8 font-100 mt-0">Monthly Goal</h5>
                            <h6 class="mt-5" style="color:#5de6a7;float:left;">NGN 70,000.00</h6>
                            <h6 class="mt-5" style="color:#dedede;float:right;">NGN 174,000.00</h6>
                            <div class="clearfix"></div>
                            <div class="progress" style="height: 12px;">
                                <div class="progress-bar bg-primary" 
                                role="progressbar" style="width: 40%" 
                                aria-valuenow="40" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                            <p class="card-text pt-4 mt-3 text-white font-opensans">
                               <span class="font-bold">John 12:24</span> 
                               <span class="opacity5"> Verily, verily, I say unto you, Except a 
                                   corn of wheat fall into the 
                                ground and die, it abideth alone: but if it die, it bringeth forth much fruit.
                               </span>
                            </p>
                            <div class="mt-5">
                                <button type="button" class="btn btn-light mr-3 small mob-btn">Goto Settings</button>
                                <button type="button" class="btn mob-btn" style="background-color: #5de6a7;">Make Payment</button>
                            </div>   
                    </div>
                    </div>
                </div>
                <!-- end col -->
            </div>
        </div>
    </div>
</div>
<!-- ============================================================== -->
<!-- End Right content here -->
<!-- ============================================================== -->